@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background-color: #09090b; 
  color: #fafafa;
  font-family: system-ui, -apple-system, sans-serif;
  min-height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}